@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('./src/assets/images/FONDO1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
